.table-container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  font-size: 14px;

}

.table-wrapper {
  width: 100%;
  overflow: auto;
}

.table {
  width: 100%;

  &__checkbox-header {
    vertical-align: middle;
  }

  &__checkbox-label {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
  }

  &__checkbox {
    width: 24px;
    height: 24px;
    background: url("images/checkbox.svg");
    margin: 0;
    cursor: pointer;

    &:after {
      content: "";
      position: absolute;
      width: 12px;
      height: 12px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:checked:after {
      background-color: #b0bac9;
    }
  }

  &__head {
    box-shadow: inset 0px -1px 0px #C9CFDA;
  }

  tbody tr {
    &:hover {
      background-color: #f5f3f3;
    }
  }

  tbody:before {
    content: "@";
    display: block;
    line-height: 32px;
    text-indent: -99999px;
  }

  &__th {
    display: flex;
    flex-direction: column;
  }

  &__status {
    border: 1px solid;
    padding: 0 12px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    display: inline;

    &--active {
      border-color: $green;
      color: $green;
    }

    &--danger {
      border-color: $red;
      color: $red;
    }

    &--pending {
      border-color: $yellow;
      color: $yellow;
    }
  }

  th, td {
    text-align: left;
    padding: 4px 10px;
  }

  .text-center {
    text-align: center;
  }

  th span {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
  }

  &__action {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
  }

  &__header-sort {
    display: flex;

    svg {
      margin-left: 8px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  td {
    vertical-align: middle;
  }

  tr {
    box-shadow: inset 0px -1px 0px #DFE2E9;
  }

  &__image, &__contact {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__image {
    min-width: 180px;
  }

  &__image-round {
    border-radius: 50%;
  }

  &__sku {
    border-radius: 8px;
    border: 1px solid #DFE2E9;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #454D59;
    padding: 2px 12px;
  }

  &__price {
    text-align: right;
    @media (max-width: 1024px) {
      text-align: center;
    }
  }

  &__search {
    border: none;
    font-size: 14px;
    line-height: 20px;
    color: #C9CFDA;
    margin: 8px 0;
  }

  &__select {
    border: none;
    font-size: 14px;
    line-height: 20px;
    margin: 8px 0;
    appearance: none;
    outline: 0;
    width: 95px;
    display: flex;
    align-items: center;
    background: url("images/thead_drop_down.svg") no-repeat;
    background-position: right 5px top 50%;

    &:hover {
      cursor: pointer;
    }

    //&:focus {
    //  outline: 1px solid blue;
    //}
  }

  &__actions {
    text-align: center;
    border: none;
    background-color: transparent;
    margin-left: 15px;
    &:hover {
      cursor: pointer;

      svg path {
        fill: #DB303F;
      }
    }
  }

  @media (max-width: 1024px) {

    &__only-laptop {
      display: none;
    }
  }
}
